doctype html
html(lang="pl")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{title}
        link(rel="preconnect", href="https://fonts.googleapis.com")
        link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
        link(rel="stylesheet", href="./css/style.css")
    body
        main.main
                section.section.mynotes 
                    .mynotes__top 
                        h1 My Notes
                        a(href="/newnote").button New note 
                    if notes.length > 0
                    ul.mynotes__list
                        each note in notes
                            li 
                                h3 #{note.title}
                                p #{note.message}
                    if notes.length === 0
                        p You don't have any notes!