<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyNotes - New note</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <main class="main">
        <section class="section new-note">
            <h1>New note</h1>

            <form method="POST" class="new-note__form">
                <div>
                    <p>Title</p>
                    <input type="text" placeholder="Title" name="title" required>
                </div>
                <div>
                    <p>Note</p>
                    <textarea cols="30" rows="10" placeholder="Start typing here..." name="message" required></textarea>
                </div>
                <button type="submit">Save</button>
            </form>
        </section>
    </main>
</body>

</html>